    <div class=" flex w-full ">
            <img src="@HealUrl" alt="Hero Image" class=" h-full   object-cover overflow-visible scale-95"
                style="display: @(EnemyIsHealing ? "block" : "none") ; overflow: visible;">
        </div>
       <div class=" flex w-full ">

            <img src="@AttackUrl" alt="Enemy Image" class="h-full object-cover overflow-visible scale-95 "
                style="display: @(EnemyIsAtt ? "block" : "none") ; overflow: visible;">
        </div>
    <div class=" flex w-full ">
            <img src="@DefendUrl" alt="Hero Image" class="h-full object-cover overflow-visible scale-95"
                style="display: @(EnemyUpgradeArmor ? "block" : "none") ; overflow: visible;">
        </div>
    <div class=" flex w-full ">
            <img src="@BoostUrl" alt="Hero Image" class="h-full object-cover overflow-visible scale-95"
                style="display: @(EnemyIsBessing ? "block" : "none") ; overflow: visible;">
        </div>

     <div class=" flex w-full ">
            <img src="@StandUrl" alt="Hero Image" class="h-full object-cover overflow-visible scale-95" 
                style="display: @(!EnemyIsHealing && !EnemyUpgradeArmor && !EnemyIsAtt &&  !EnemyIsBessing  ? "block" : "none") ; overflow: visible;">
    </div>


    @code {
    [Parameter] public bool EnemyIsBessing { get; set; }

    [Parameter] public bool EnemyIsHealing { get; set; }

    [Parameter] public bool EnemyUpgradeArmor { get; set; }

    [Parameter] public bool EnemyIsAtt { get; set; }
    
    [Parameter] public string? AttackUrl { get; set; }

    [Parameter] public string? StandUrl { get; set; }

    [Parameter] public string? DefendUrl { get; set; }

    [Parameter] public string? HealUrl { get; set; }

    [Parameter] public string? BoostUrl { get; set; }

    }