        <div class=" flex w-full">
            <img src="image/motion/sister.png" alt="Hero Image" class="h-full object-cover overflow-visible"
                style="display: @(HeroIsHealing ? "block" : "none"); overflow: visible;">
        </div>
   <div class=" flex w-full ">
            <img src="image/motion/milk.png" alt="Hero Image" class=" h-full   object-cover  overflow-visible"
                style="display: @(HeroBoosting ? "block" : "none"); overflow: visible;">
        </div>
     <div class=" flex w-full ">
            <img src="@HeroStandingAttackUrl" alt="Enemy Image" class="h-full overflow-visible object-cover"
                style="display: @(HeroIsAtt ? "block" : "none"); overflow: visible;">
        </div>

       <div class=" flex w-full ">
            <img src="image/motion/defending.png" alt="Hero Image" class=" h-full object-cover  overflow-visible"
                style="display: @(HeroUpgradeArmor ? "block" : "none"); overflow: visible;">
        </div>
          <div class=" flex w-full ">
            <img src="image/motion/topuz.png" alt="Hero Image" class="h-full object-cover  overflow-visible"
                style="display: @(HeavyCrash ? "block" : "none") ; overflow: visible;">
        </div>

        <div class=" flex w-full bg-cover bg-center">
            <img src="@HeroStandingImageUrl" alt="Hero Image" class=" h-full object-cover"
                style="display: @(!HeroIsHealing && !HeroUpgradeArmor && !HeroIsAtt && !HeavyCrash && !HeroBoosting ? "block" : "none"); overflow: visible;">
        </div>

    @code {
    [Parameter] public bool HeroIsHealing { get; set; }
    [Parameter] public bool HeroBoosting { get; set; }
    [Parameter] public bool HeroIsAtt { get; set; }
    [Parameter] public bool HeavyCrash { get; set; }
    [Parameter] public bool HeroUpgradeArmor { get; set; }
    [Parameter] public string? HeroStandingImageUrl { get; set; }
    [Parameter] public string? HeroStandingAttackUrl { get; set; }







    }