@page "/Story"
@inject NavigationManager NavigationManager
@inject HeroStateService HeroStateService



    <div class="w-full  flex flex-col">
        @* <div class="flex flex-col w-full gap-3 px-2  mb-20  mt-4 min-h-[calc(100dvh)]">
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="1" ChapterTitle="Equal And Free Like Wolves" url="image/wolf.jpg"  navUrl="/ChapterOne"/>
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="2" ChapterTitle="The Wrathful Nymphs" url="image/nympths.png" navUrl="/ChapterTwo" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="3" ChapterTitle="A Hateful Stare" url="image/chapter3.jpg" navUrl="/ChapterThree" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="4" ChapterTitle="The Eyes That Eats People" url="image/katallanChapter.jpg" navUrl="/ChapterFour" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="5" ChapterTitle="The Dry Rivers" url="image/chapterFiveCover.jpg" navUrl="/ChapterFive" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="6" ChapterTitle="That night" url="image/lugatiCover.jpg" navUrl="/Lugati" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="7" ChapterTitle="12 Graves" url="image/assassinBanner.png" navUrl="/Assassin" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="8" ChapterTitle="Lost Castle" url="image/shooterBanner.png" navUrl="/Shooter" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="9" ChapterTitle="9 Wounds" url="image/bailoziBanner.jpg" navUrl="/Bailozi" />
        </div> *@
            <div class="flex flex-col w-full gap-3 px-2  mb-20  mt-4 min-h-[calc(100dvh)]">
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story01" IsOpen="true" ChapterNumber="1" ChapterTitle="Equal and free like wolves" url="image/wolf.jpg"  navUrl="/ChapterOne"/>
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story02" IsOpen="@HeroStateService.Hero.Story1" ChapterNumber="2" ChapterTitle="The Wrathful Nymphs" url="image/nympths.png" navUrl="/ChapterTwo" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story03" IsOpen="@HeroStateService.Hero.Story2" ChapterNumber="3" ChapterTitle="A hateful stare" url="image/chapter3.jpg" navUrl="/ChapterThree" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story04" IsOpen="@HeroStateService.Hero.Story3" ChapterNumber="4" ChapterTitle="The eyes that eats people" url="image/katallanChapter.jpg" navUrl="/ChapterFour" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story05" IsOpen="@HeroStateService.Hero.Story4" ChapterNumber="5" ChapterTitle="The Dry Rivers" url="image/chapterFiveCover.jpg" navUrl="/ChapterFive" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story06" IsOpen="@HeroStateService.Hero.Story5" ChapterNumber="6" ChapterTitle="That night" url="image/lugatiCover.jpg" navUrl="/Lugati" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story07" IsOpen="@HeroStateService.Hero.Story6" ChapterNumber="7" ChapterTitle="12 Graves" url="image/assassinBanner.png" navUrl="/Assassin" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story08" IsOpen="@HeroStateService.Hero.Story7" ChapterNumber="8" ChapterTitle="Lost Castle" url="image/shooterBanner.png" navUrl="/Shooter" />
            <ChapterComponents IsCompleted="@HeroStateService.Hero.Story09" IsOpen="@HeroStateService.Hero.Story8" ChapterNumber="9" ChapterTitle="The 9 Wounds" url="image/bailoziBanner.jpg" navUrl="/Bailozi" />
        </div>

        <div class="fixed bottom-0 p-3 bg-red-700 w-full md:w-[450px] lg:w-[450px] ">
            <img src="image/icons/back.png" class="h-8 cursor-pointer" alt="Stat Image" @onclick="GoHome">
        </div>
    </div>

@code {
    private void GoHome() => NavigationManager.NavigateTo("/game");

    
}
