@page "/Story"
@inject NavigationManager NavigationManager
@inject HeroStateService HeroStateService



    <div class="w-full  flex flex-col">
        <div class="flex flex-col w-full gap-3 px-2  mb-20  mt-4 min-h-[calc(100dvh)]">
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="1" ChapterTitle="Equal and free like wolves" url="image/wolf.jpg"  navUrl="/ChapterOne"/>
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="2" ChapterTitle="The Wrathful Nymphs" url="image/nympths.png" navUrl="/ChapterTwo" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="3" ChapterTitle="A hateful stare" url="image/chapter3.jpg" navUrl="/ChapterThree" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="4" ChapterTitle="The eyes that eats people" url="image/katallanChapter.jpg" navUrl="/ChapterFour" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="5" ChapterTitle="The Dry Rivers" url="image/chapterFiveCover.jpg" navUrl="/ChapterFive" />
            <ChapterComponents IsCompleted="@false" IsOpen="true" ChapterNumber="6" ChapterTitle="Dead Silent" url="image/lugatiCover.jpg" navUrl="/Lugati" />
             
        </div>

        <div class="fixed bottom-0 p-3 bg-red-700 w-full md:w-[450px] lg:w-[450px] ">
            <img src="image/icons/back.png" class="h-8 cursor-pointer" alt="Stat Image" @onclick="GoHome">
        </div>
    </div>

@code {
    private void GoHome() => NavigationManager.NavigateTo("/game");

    
}
