@page "/training"
@using BlazorDex.Models
@using BlazorDex.Util
@inject HeroClient client
@inject HeroStateService HeroStateService
@inject NavigationManager NavigationManager
@inject GameAnimationService AnimationService

<div class="h-screen bg-bg-main flex items-center  ">
    @if (gameEnd)
    {
        <div class="flex flex-col w-full min-h-screen justify-center items-center " style="background-image: url('image/login.jpg');">
            <h2 class="text-5xl font-extrabold  mb-6 text-text-third">You Win!</h2>
            <button @onclick="GoHome"
                class=" bg-text-third text-white font-extrabold tracking-widest uppercase py-4 px-8 rounded-3xl shadow-xl transition transform hover:scale-110">
               Go Home
            </button>
        </div>
    }
    else
    {
        <div class="w-full flex flex-col justify-between h-full">
            <HealthBar HeroHP="@HeroHP" HeroStartHP="@heroStartingHp" EnemyHP="@EnemyHp" EnemyStartHP="@enemyStartingHp"
                HeroLevel="@HeroStateService.Hero.Level" EnemyLevel="1" />
            <StatInAction HeroSpeed="@HeroSpeed" HeroDamage="@HeroDmg" HeroArmor="@HeroArmor" EnemySpeed="@EnemySpeed"
                EnemyDamage="@EnemyDmg" EnemyArmor="@EnemyArmor" />

            <Messages ActionMessages="@actionMessages" />

            <HerosInAction isHeroTurn="@AnimationService.IsHeroTurn" isEnemyTurn="@AnimationService.IsEnemyTurn"
                EnemyIsHealing="@AnimationService.EnemyIsHealing" HeroIsHealing="@AnimationService.HeroIsHealing"
                EnemyUpgradeArmor="@AnimationService.EnemyUpgradeArmor"
                HeroUpgradeArmor="@AnimationService.HeroUpgradeArmor"
                EnemyIsGettingDmg="@AnimationService.EnemyIsGettingDmg"
                HeroIsGettingDmg="@AnimationService.HeroIsGettingDmg" HeroIsAtt="@AnimationService.HeroIsAtt"
                EnemyIsAtt="@AnimationService.EnemyIsAtt" EnemyDamageTaken="@EnemyDamageTaken"
                HeroDamageTaken="@HeroDamageTaken" HeroHpAdded="@HeroHpAdded" EnemyHpAdded="@EnemyHpAdded"
                HeroIsBessing="@AnimationService.HeroIsBessing" EnemyIsBessing="@AnimationService.EnemyIsBessing" />

       @if (!HasPerformed)
                        {
        <ActionButton
        Attack="() => PerformAction(ActionType.Attack)"
        Defend="() => PerformAction(ActionType.Defend)"
        Heal="() => PerformAction(ActionType.Heal)"
        Ability="() => PerformAction(ActionType.Ability)" />
                }
            else
                    {
      <ActionButton />
      }
    
        </div>
    }
</div>

@code {
    private int HeroDmg;
    private int HeroHP;
    private int HeroSpeed;
        private int HeroArmor;
    private bool HasPerformed = false;
    protected override async Task OnInitializedAsync()
    {
        HeroStateService.OnChange += StateHasChanged;

        if (HeroStateService.Hero != null)
        {
            heroStartingHp = HeroStateService.Hero.Hp;
            HeroDmg = HeroStateService.Hero.Dmg;
            HeroHP = HeroStateService.Hero.Hp;
            HeroSpeed = HeroStateService.Hero.Speed;
            HeroArmor = HeroStateService.Hero.Armor;
        }

        enemyStartingHp = EnemyHp;

        DetermineTurnOrder();

        await DisplayActionMessage(turnMessage); // Show the initial turn message
    }

    private void DetermineTurnOrder()
    {
        if (HeroSpeed >= EnemySpeed)
        {
            AnimationService.SetTurn(true);
            turnMessage = "Hero's turn!";
        }
        else
        {
            AnimationService.SetTurn(false);
            turnMessage = "Enemy's turn!";
        }
    }

    private async Task ExecuteHeroAction(ActionType action)
    {
        switch (action)
        {
            case ActionType.Attack:
                HasPerformed = true;
                await HeroAttack();
                break;
            case ActionType.Defend:
                HasPerformed = true;
                AnimationService.SetUpgradeArmor(true, true);
                await DisplayActionMessage("Hero defends!");
                heroDefending = true;
                HeroArmor += 10;
                AnimationService.SetTurn(false);
                await AnimationService.ResetStatus();
                break;
            case ActionType.Heal:
                HasPerformed = true;
                AnimationService.SetHealing(true, true);
                await DisplayActionMessage("Hero heals!");
                HeroHpAdded = 50;
                HeroHP = Math.Min(HeroHP + 50, heroStartingHp ?? 0);
                AnimationService.SetTurn(false);
                await AnimationService.ResetStatus();
                break;
            case ActionType.Ability:
                HasPerformed = true;
                AnimationService.SetBessing(true, true);
                await DisplayActionMessage("Hero uses special ability!");
                HeroDmg += 10;
                HeroArmor += 10;
                AnimationService.SetTurn(false);
                await AnimationService.ResetStatus();
                break;
        }
    }

    private async Task PerformAction(ActionType action)
    {
        if (HeroStateService.Hero == null || gameEnd)
            return;

        turnCounter++;

        if (AnimationService.IsHeroTurn)
        {
            await ExecuteHeroAction(action);
            if (!gameEnd)
            {
                await DisplayActionMessage("Enemy's turn!");
                await ExecuteEnemyAction();
            }
        }
        else
        {
            await ExecuteEnemyAction();
            if (!gameEnd)
            {
                await DisplayActionMessage("Hero's turn!");
                await ExecuteHeroAction(action);
            }
        }
    }

    private async Task ExecuteEnemyAction()
    {
        ActionType enemyAction = DetermineEnemyAction();
        switch (enemyAction)
        {
            case ActionType.Attack:
                await EnemyAttack();
                HasPerformed = false;

                break;
            case ActionType.Defend:
                await Defend();
                HasPerformed = false;
                break;
            case ActionType.Heal:
                AnimationService.SetHealing(false, true);
                await DisplayActionMessage("Enemy heals!");
                EnemyHp = Math.Min(EnemyHp + 50, enemyStartingHp);
                AnimationService.SetTurn(true);
                await AnimationService.ResetStatus();
                HasPerformed = false;
                break;
            case ActionType.Ability:
                AnimationService.SetBessing(false, true);
                await DisplayActionMessage("Enemy uses special ability!");
                EnemyDmg += 5;
                AnimationService.SetTurn(true);
                await AnimationService.ResetStatus();
                HasPerformed = false;
                break;
        }
    }

    private ActionType DetermineEnemyAction()
    {
        // Basic AI to determine the enemy's action, you can expand this logic
        return (ActionType)(new Random()).Next(0, 4); // Randomly choose an action
    }

    private async Task Defend()
    {
        AnimationService.SetUpgradeArmor(false, true);
        DisplayActionMessage("Enemy defends!");
        enemyDefending = true;
        EnemyArmor += 10;
        AnimationService.SetTurn(true);
        await AnimationService.ResetStatus();
    }

    private async Task HeroAttack()
    {
        int damageDealt = Math.Max(HeroDmg - EnemyArmor, 0);
        EnemyDamageTaken = damageDealt;

        if (enemyDefending)
        {
            damageDealt /= 2;
            enemyDefending = false; // Reset defending status
        }

        EnemyHp -= damageDealt;

        string attackMessage = $"Hero attacks and deals {damageDealt} damage!";
        AnimationService.SetGettingDamage(false, true);
        AnimationService.SetIsAtt(true, true);
        await DisplayActionMessage("Hero attacks!");
        AnimationService.SetTurn(false);
        await AnimationService.ResetStatus();
        actionMessages.Add(attackMessage);
        RemoveMessage(attackMessage); // Remove the message
        await Task.Delay(1000); // Wait for 2 seconds
        StateHasChanged(); // Notify the UI of the change

        if (EnemyHp <= 0)
        {
            gameEnd = true;
            actionMessages.Add("Victory! Enemy defeated!");
            await WinBattle();
        }
    }

    private async Task EnemyAttack()
    {
        int damageDealt = Math.Max(EnemyDmg - HeroArmor, 0);
        HeroDamageTaken = damageDealt;

        if (heroDefending)
        {
            damageDealt /= 2;
            heroDefending = false; // Reset defending status
        }

        HeroHP -= damageDealt;

        string attackMessage = $"Enemy attacks and deals {damageDealt} damage!";
        AnimationService.SetIsAtt(false, true);
        AnimationService.SetGettingDamage(true, true);
        await DisplayActionMessage("Enemy attacks!");
        AnimationService.SetTurn(true);
        await AnimationService.ResetStatus();
        actionMessages.Add(attackMessage);
        StateHasChanged(); // Notify the UI of the change
        await Task.Delay(1000); // Wait for 2 seconds

        RemoveMessage(attackMessage); // Remove the message
        StateHasChanged(); // Notify the UI of the change

        if (HeroHP <= 0)
        {
            gameEnd = true;
            actionMessages.Add("Game Over! Hero is defeated!");
            // Handle game over, maybe navigate to a different page or show a game over message
        }
    }

    private async Task WinBattle()
    {
        HeroStateService.Hero.Points += 1;
        HeroStateService.Hero.Exp += 25;

        try
        {
            await client.UpdateHero(HeroStateService.Hero);
            HeroStateService.SetHero(HeroStateService.Hero);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error updating Hero: {ex.Message}");
        }
    }

    private void GoHome() => NavigationManager.NavigateTo("/game");

    private void RemoveMessage(string message)
    {
        // Check if the message exists before attempting to remove it
        if (actionMessages.Contains(message))
        {
            actionMessages.Remove(message);
        }
    }

    private async Task DisplayActionMessage(string message, int delay = 2000)
    {
        actionMessages.Add(message);
        StateHasChanged();
        await Task.Delay(delay);
        actionMessages.Remove(message);
        StateHasChanged();
    }

    public int? heroStartingHp { get; set; }
    public int enemyStartingHp { get; set; }

    private enum ActionType
    {
        Attack,
        Defend,
        Heal,
        Ability
    }

    private bool gameEnd = false;
    private int EnemyHp = 5;
    private int EnemySpeed = 5;
    private int EnemyArmor = 0;
    private int EnemyDmg = 30;
    private int turnCounter = 0;
    private bool heroDefending = false;
    private bool enemyDefending = false;
    private List<string> actionMessages = new List<string>();
    public int HeroDamageTaken;
    public int EnemyDamageTaken;
    public int HeroHpAdded;
    public int EnemyHpAdded;
    private string turnMessage;
}